{{#if user}}
        <p>Bienvenido! {{ user }}</p>
        <p>Rol: {{ role }}</p>
        <form action="/api/sessions/logout" method="post">
            <button type="submit">LogOut</button>
        </form>
    {{else}}
        <p>No se encontró un email para este usuario.</p>
{{/if}}
<h1>Todos los productos</h1>
<table class="product-table">
    <thead>
        <tr>
            <td>TITLE</td>
            <td>DESCRIPTION</td>
            <td>PRICE</td>
            <td>CODE</td>
            <td>STOCK</td>
            <td>CATEGORY</td>
            <td>STATUS</td>
            <td>ID</td>
        </tr>
    </thead>
    <tbody>
        {{#if products}}
            {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>${{price}}</td>
                    <td>{{code}}</td>
                    <td>{{stock}}</td>
                    <td>{{category}}</td>
                    <td>{{status}}</td>
                    <td>{{pid}}</td>
                </tr>
            {{/each}}
        {{else}}
            <h1>Sin productos</h1>
        {{/if}}
    </tbody>
</table>
<a href={{prevPage}}>Atrás</a>
<a href={{nextPage}}>Siguiente</a>
